/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #106a2e;
  --secondary: #0d7856;
  --blue: #274c77;
  --brown: #854d27;
  --yellow: #f4d35e;
  --white: #dee3df;
  --error: #e7195a;
}
body {
  background: var(--secondary);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.login,
.signup {
  width: 400px;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

form.login {
  width: 200px;
}

.form-control {
  width: 200px;
}

input.login {
}

/* form.signup {
  display: flex;
} */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.password-toggle-icon {
  position: absolute;
  top: 28%;
}
